<launch>
  
  <node name="find_person" pkg="behavior_tree_leaves" type="condition_findperson" output="screen" />
  <node name="look_person" pkg="behavior_tree_leaves" type="action_lookperson" output="screen"/>
  <node name="test" pkg="behavior_tree_core" type="look_person" output="screen" />
 
</launch>
