<launch>
  
  <node name="bh_localization" pkg="behavior_tree_leaves" type="condition_finddoor" output="screen" />
  <node name="bh_opendoor" pkg="behavior_tree_leaves" type="action_open" output="screen"/>
  <node name="test" pkg="behavior_tree_core" type="opening_door" output="screen" />
 
</launch>
